.main {

    width:99%;
    height:650px;
    }
    .toDoListCard {
 
        background:lightsteelblue;
        justify-content: center;
        padding:5rem;
        margin: 2rem;
    }
    .toDoListCard input {
     
     justify-items: center;
     padding: 10px;
     font-size:16px;
     border:2px solid #FFF;
     width:165px;
     margin: 5px;
    }
    .toDoListCard  button{
      padding: 10px;
      font-size:16px;
      background-color: rgb(121, 99, 219);
      color:white;
      border:2px solid blue;
      margin: 5px;
    }
    