.main {
   padding-left: 10%;
  justify-content: center;

}

.listItems{
  list-style: none;
  clear: both;
  display: flex;
}
 
.listItems  li {
  color: #333;
  background-color:lightblue;
  padding: 15px;
  width:200px;
  height:20px;
  margin-bottom: 15px;
  border-radius: 5px;
   list-style: none;
}

.listItemsgreen {

  background-color: rgba(17, 230, 88, 0.5) !important;
}

.listItemsred {

  background-color: rgba(223, 81, 76, 0.911) !important;
}
.listItems  select{
  padding: 10px;
  font-size:16px;
  background-color: rgb(121, 99, 219);
  color:white;
  border:2px solid blue;
  margin: 5px;
  height:50px;
}
.listItems button {
  padding: 10px;
  font-size:16px;
  background-color: rgb(121, 99, 219);
  color:white;
  border:2px solid blue;
  margin: 5px;
  height:50px;
}
.charts{
  width: 50%;
  float:right;
  position: relative;
}
.lists{
  width: 50%;
  float:left;

}
