.main {
  justify-content: center;
  display: flex;
}


.listDetails{
  list-style: none;
  clear: both;
 
}
 
.listDetails  li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  width:200px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  float:left;
}
.main ul{
  padding: 5px;
}
 
.listDetails button {
  float:right;
  padding: 10px 15px  10px 15px;
}
